* {
	font-family: 'Muli', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #000;
}
html {
	overflow-x: hidden;
}
.container {
	max-width: 1415px;
	width: 100%;
	padding: 0px 80px;
	margin: 0 auto;
}
.icons {
	width: 0;
	height: 0;
}

/* header */
.header {
	padding: 35px 110px 0px 110px;
}
.header__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu a {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #B8BECD;
	text-decoration: none;
}
.menu a {
	margin-left: 35px;
}
.list-active {
	font-weight: 500;
	color: #202336;
}
.button {
	max-width: 132px;
	width: 132px;
	height: 44px;
	border-radius: 8px;
	background: #FB8F1D;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.menu .menu__login {
	border: 1px solid #FB8F1D;
	background: #fff;
	color: #FB8F1D;
}
.menu .menu__register {
	width: 132px;
	height: 44px;
	background: #FB8F1D;
	font-weight: 500;
	color: #fff;
}
.logo svg .change-green {
	transition: fill .5s;
	-webkit-transition: fill .5s;
	-moz-transition: fill .5s;
	-ms-transition: fill .5s;
	-o-transition: fill .5s;
}
.logo svg .change-yellow {
	transition: fill .5s;
	-webkit-transition: fill .5s;
	-moz-transition: fill .5s;
	-ms-transition: fill .5s;
	-o-transition: fill .5s;
}
.logo:hover svg .change-green {
	fill: #FB8F1D;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.logo:hover svg .change-yellow {
	fill: #1ABE84;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

.overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0, .50);
	top: 0;
	z-index: 10000;
	display: none;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fff;
	max-width: 300px;
	width: 100%;
	min-height: 350px;
	padding: 20px;
}
.modal__content form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.modal__content form input {
	margin-bottom: 15px;
	height: 40px;
	padding-left: 15px;
}
.modal__close {
	 font-size: 40px;
	 color: #FB8F1D;
	 position: absolute;
	 right: -30px;
	 top: -45px;
	 cursor: pointer;
}
.checkbox__wrap {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.checkbox {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 15px;
}
.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkbox__text a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}
.checkmark {
	position: relative;
	height: 24px;
	width: 100%;
   max-width: 24px;
	background-color: #fff;
	border: 1px solid #FB8F1D;
	margin-right: 10px;
}
.checkbox input:checked ~ .checkmark {
	background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGVjayIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWNoZWNrIGZhLXctMTYiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeiI+PC9wYXRoPjwvc3ZnPg==");
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #FB8F1D;
}
.checkbox input:hover ~ .checkmark {
	background-color: #FB8F1D;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* explore */

.explore {
	padding: 100px 0px 140px 110px;
}
.explore__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.explore__text h1 {
	font-family: 'PlayfairDisplay', serif;
	font-weight: 700;
	font-size: 64px;
	color: #202336;
	max-width: 356px;
	margin-bottom: 74px;
}
.explore__text {
	position: relative;
}
.icon {
	position: absolute;
}
.explore__text .icon {
	top: 50%;
	left: -85px;
	width: 25px;
	height: 25px;
}
.explore__text h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: #202336;
	position: relative;
	margin-bottom: 71px;
}
.explore__text h2::after {
	content: '';
	position: absolute;
	width: 32px;
	height: 2px;
	background: #202336;
	border-radius: 4px;
	left: 0;
	bottom: -21px;
}
.explore__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 500px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.explore__input {
	position: relative;
	width: calc(50% - 30px);
	margin-right: 30px;
	margin-bottom: 35px;
	max-width: 250px;
	height: 52px;
}
.explore__input input {
	width: 100%;
	height: 100%;
	border: 0.8px solid #AFB0B9;
	border-radius: 6px;
	padding-left: 31px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #4A4C53;
	outline: none;
}
.explore__img {
	max-width: 645px;
	width: 100%;
	position: relative;
}
.sprite {
	width: 20px;
	height: 20px;
}
.sprite__explore_plus {
	top: 4%;
	left: -70px;
}
.sprite__explore_circle {
	bottom: 2%;
	left: -10px;
}

.explore__img img {
	-o-object-fit: cover;
	object-fit: cover;
}
.button_explore {
	width: 100%;
	max-width: 180px;
	height: 52px;
	border: none;
}
.arrow-bottom {
	display: block;
}
.arrow-bottom svg {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

/* way */

.way {
	padding: 140px 160px 140px 60px;
}
.way__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.way__img {
	max-width: 650px;
	width: 100%;
}
.way__img img {
	-o-object-fit: cover;
	   object-fit: cover;
}
.way__text {
	max-width: 450px;
	position: relative;
}
.title {
	font-family: 'PlayfairDisplay', serif;
	font-weight: 700;
	font-size: 36px;
}
.title_way {
	padding-top: 50px;
}
.way__text {
	font-weight: 300;
	font-size: 17px;
	color: #7D7987;
	margin: 20px 0px 33px 0px;
}
.button_way {
	text-decoration: none;
	max-width: 164px;
	width: 100%;
}
.sprite__way_plus {
	-webkit-transform: rotate(7.49deg);
	-ms-transform: rotate(7.49deg);
	transform: rotate(7.49deg);
	top: 0;
	left: -60px;
}
.sprite__way_circle {
	bottom: 37%;
   right: 100px;
}

/* destinations  */

.destinations {
	padding: 140px 160px 115px 160px;
}
.destinations__content {
	position: relative;
}
.destinations__description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.view {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 17px;
	color: #FB8F1D;
	text-decoration: none;
}
.arrow_orange {
	width: 12px;
	height: 12px;
	fill: #FB8F1D; 
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
.destinations__gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 56px;
}
.destinations__item {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}
.destinations__item img {
	-o-object-fit: cover;
	object-fit: cover;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.destinations__item:hover img {
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.location {
	position: absolute;
	left: -1px;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	width: 120px;
	height: 56px;
	border-radius: 0px 6px 0px 0px;
}
.location__place {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 17px;
	color: #042521;
	line-height: 25px;
}
.location__country {
	line-height: 20px;
	font-family: 'Inter', sans-serif;
	color: #7D7987;
	font-size: 15px;
}
.sprite__destinations_plus {
	-webkit-transform: rotate(7.49deg);
	-ms-transform: rotate(7.49deg);
	transform: rotate(7.49deg);
	left: -96px;
	bottom: 100px;
}
.sprite__destinations_circle1 {
	right: 15%;
   top: -25px;
}
.sprite__destinations_circle2 {
	left: 42%;
   bottom: -60px;
}

/* guides */

.guides {
	padding: 115px 160px 130px 160px;
}
.guides__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.guides__descr {
	max-width: 450px;
	position: relative;
}
.title_guides {
	padding-top: 110px;
}
.guides__text {
	font-weight: 300;
	font-size: 17px;
	color: #7D7987;
	margin: 20px 0px 33px 0px;
}
.button_guides {
	max-width: 162px;
	width: 100%;
	text-decoration: none;
}
.guides__img {
	max-width: 600px;
	width: 100%;
	position: relative;
}
.guides__img img {
	-o-object-fit: cover;
	object-fit: cover;
}
.sprite__guides_circle {
	top: 50px;
	left: 10%;
}
.sprite__guides_plus1 {
	left: -80px;
	bottom: 100px;
	-webkit-transform: rotate(20.42deg);
	-ms-transform: rotate(20.42deg);
	transform: rotate(20.42deg);
}
.sprite__guides_plus2 {
	right: -58px;
	top: 50px;
	-webkit-transform: rotate(9.99deg);
	-ms-transform: rotate(9.99deg);
	transform: rotate(9.99deg);
}

/* testimonials */
.testimonials {
	padding: 120px 30px 80px 160px;
}
.testimonials__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.testimonials__descr {
	max-width: 450px;
}
.rating-area {
	overflow: hidden;
	max-width: 210px;
	margin: 145px 0px 20px 0px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 35px;
	line-height: 50px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
.testimonials__text {
	font-size: 24px;
}
.testinations__name {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 22px;
	margin-top: 40px;
}
.testinations__post {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.85);
}
.testimonials__slider {
	max-width: 384px;
	width: 100%;
	padding-top: 100px;
}
.testimonials__slider img {
	-o-object-fit: cover;
	object-fit: cover;
	min-height: 491px;
	height: 100%;
}
.testimonials__slider::after {
	content: '';
	position: absolute;
	right: -2px;
	bottom: -2px;
	width: 132px;
	height: 60px;
	background: #FFFFFF;
	border-radius: 16px 0px 0px 0px;
}
.slick-prev {
	width: 40px;
	height: 40px;
	border: 2px solid #000000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: absolute;
	bottom: 8px;
	right: 65px;
	z-index: 10;
	outline: none;
}
.slick-prev svg {
	width: 15px;
	height: 15px;
}
.slick-next {
	width: 40px;
	height: 40px;
	border: 2px solid #000000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: absolute;
	bottom: 8px;
	right: 10px;
	z-index: 10;
	outline: none;
}
.slick-next svg {
	width: 15px;
	height: 15px;
}
.slick-slide {
	outline: none;
}

/* trending */

.trending {
	padding: 80px 120px 130px 140px;
}
.trending__descr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.trending__gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 20px;
}
.trending__item {
	max-width: calc(284px - 20px);
}
.trending__img {
	border-radius: 8px;
	max-height: 300px;
	height: 100%;
	position: relative;
}
.trending__img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: -webkit-gradient(linear, right top, left top, from(#c8d8d2), to(#939b69));
	background-image: -o-linear-gradient(right, #c8d8d2, #939b69);
	background-image: linear-gradient(to left, #c8d8d2, #939b69);
	transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
}
.trending__img:hover::before {
	opacity: 0.5;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.trending__item + .trending__item {
	margin-left: 20px;
}
.trending__img img {
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.trending__subtitle {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 19px;
	margin-top: 13px;
}
.trending__text {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: #7D7987;
	margin: 13px 0px 23px 0px;
}
.read {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #FB8F1D;
	text-decoration: none;
}

/* footer */

.footer {
	padding: 70px 80px 0px 110px;
}
.footer__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer__item {
	max-width: calc(440px - 100px);
}
.footer__item + .footer__item {
	margin-left: 100px;
}
.footer__title {
	font-weight: 700;
	font-size: 19px;
	margin-bottom: 10px;
}
.footer__text {
	font-weight: 300;
	font-size: 18px;
	color: #848484;
}
.footer__text_main {
	margin: 26px 0px 55px 0px;
}
.footer__copyright {
	font-weight: 300;
	font-size: 17px;
	color: #848484;
	margin-bottom: 81px;
}
.footer__item ul {
	padding: 0;
}
.footer__item ul li {
	list-style-type: none;
	margin: 15px 0px;
}
.footer__item ul li a {
	text-decoration: none;
}
.footer__social {
	padding: 33px 0px;
	border-top: 1px solid #C4C4C4;
}
.footer__icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer__icons svg {
	margin: 0px 17px;
}


